 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}


.display {
  overflow: auto;
  margin: 0 auto;
}

.welcome-container {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  
  div {
    padding: 8px 12px;
  }

  .btn-login {
    background-color: green;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &:hover {
      background-color: lightgreen;
    }
  }

  .btn-register {
    background-color: blue;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: lightblue;
    }
  }
}

.login-container, .register-container {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
  margin: 0 auto;

  input[type="text"], input[type="password"] {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
  }

  input[type="submit"] {
    background-color: green;
    color: white;
    border: 1px solid lightgreen;
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;

    &:hover {
      background-color: lightgreen;
      border: 1px solid green;
    }
  }
}



// BOARD + CHECKERS
span[data-color] {
  width: 25px;
  height: 25px;
  display: inline-block;
}

span[data-color="white"] {
  background-color: white;
}

span[data-color="black"] {
  background-color: black;
}
