 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  //background: url("http://www.zingerbugimages.com/backgrounds/kelly_green_abstract_stone_pattern_tileable.jpg");
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: white;

  &:visited {
    color: white;
  }
}


.display {
  overflow: auto;
  margin: 0 auto;
}

.nav {
  list-style: none;
  background-color: black;

  li {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    background-color: black;

    &:hover {
      background-color: gray;
    }
  }
}


.welcome-container {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  
  div {
    padding: 8px 12px;
  }

  .btn-login {
    background-color: green;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &:hover {
      background-color: lightgreen;
    }
  }

  .btn-register {
    background-color: blue;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: lightblue;
    }
  }
}

.login-container, .register-container {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
  margin: 0 auto;

  input[type="text"], input[type="password"] {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
  }

  input[type="submit"] {
    background-color: green;
    color: white;
    border: 1px solid lightgreen;
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;

    &:hover {
      background-color: lightgreen;
      border: 1px solid green;
    }
  }

  span.error {
    width: 100%;
    color: white;
    background-color: red;
    padding: 8px 12px;
    margin-top: 12px;
  }
}



// BOARD + CHECKERS
span[data-color] {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0;
  font-size: 0;
}

span[data-color="white"] {
  border: 3px solid white;
  background-color: white;
}

span[data-color="black"] {
  border: 3px solid black;
  background-color: black;
  
  &.selected {
    border: 3px solid green;
  }
}

span[data-row="0"] {
  border-top: 3px solid black;
}

span[data-col="0"] {
  border-left: 3px solid black;
}

span[data-row="7"] {
  border-bottom: 3px solid black;
}

span[data-col="7"] {
  border-right: 3px solid black;
}
