<div>GAME VIEW</div>
{{#each this}}
    <div>
    {{#each this}}
        <span data-row="{{row}}" data-col="{{col}}" data-color="{{this.color}}" class="checker{{this.type}}"></span>
    {{/each}}
    </div>
{{/each}}
