<form id="login">

  <input type="text"     name="email"    placeholder="email@domain.com" />
  <input type="password" name="password1" placeholder="hunter2" />
  <input type="password" name="password2" placeholder="hunter2" />
  <input type="submit" />

  <span></span>
</form>
